<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Barcode scanner</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button color="primary">Scan barcode</button>
  <ion-card *ngIf="data">
    <ion-card-content>
      Barcode: {{data.text}}
      <br>
      Format: {{data.format}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="error">
    <ion-card-content>
      Error:<br>
      {{error}}
    </ion-card-content>
  </ion-card>
</ion-content>
